<header class="header-white-color header-horizontal header-over header-view-side">
  <div class="container">
    <nav class="navbar">
      <a class="navbar-brand " href="/">
        <span class="svg-content svg-fill-theme" data-svg="assets/images/svg/logo-7.svg"></span>

        <!-- <span class="logo-element">
                    <span class="logo-icon">
                        <span class="logo-text" style="margin-top: 0em; padding-top: 0em; font-size: 20px;">Nature's</span>
                        <span class="svg-content svg-fill-theme" data-svg="assets/images/svg/logo-2.svg"></span>
                    </span>
                    <span class="logo-text" style="margin-bottom: 2px;">Organics</span>
                </span> -->
      </a>
      <button class="navbar-toggler" type="button"><i class="fas fa-bars nav-show"></i><i
          class="fas fa-times nav-hide"></i></button>
      <div class="navbar-collapse">
        <div class="container">
          <ul class="navbar-nav">
            <li class="nav-item nav-item-arrow-down nav-hover-show-sub"><a class="nav-link" href="/">Home<span
                  class="nav-arrow"></span></a>
            </li>
            <!-- <li class="nav-item nav-item-arrow-down nav-hover-show-sub"><a class="nav-link" href="#" data-role="nav-toggler">Pages<span class="nav-arrow"><i class="fas fa-chevron-down"></i></span></a>
                            <ul class="collapse nav">
                                <li class="nav-item nav-item-arrow-down nav-hover-show-sub"><a class="nav-link" href="#" data-role="nav-toggler">About Us<span class="nav-arrow"><i class="fas fa-chevron-down"></i></span></a>
                                    <ul class="collapse nav">
                                        <li class="nav-item"><a class="nav-link" href="about-us.html">About Us - light</a></li>
                                        <li class="nav-item"><a class="nav-link" href="about-us-alt.html">About Us - alternative</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item nav-item-arrow-down nav-hover-show-sub"><a class="nav-link" href="#" data-role="nav-toggler">Contact Us<span class="nav-arrow"><i class="fas fa-chevron-down"></i></span></a>
                                    <ul class="collapse nav">
                                        <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact Us - light</a></li>
                                        <li class="nav-item"><a class="nav-link" href="contact-us-alt.html">Contact Us - alternative</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item nav-item-arrow-down nav-hover-show-sub"><a class="nav-link" href="#" data-role="nav-toggler">Blog Pages<span class="nav-arrow"><i class="fas fa-chevron-down"></i></span></a>
                                    <ul class="collapse nav">
                                        <li class="nav-item"><a class="nav-link" href="blog-grid-2-cols.html">Blog Grid 2 Columns</a></li>
                                        <li class="nav-item"><a class="nav-link" href="blog-2-cols.html">Blog 2 Columns</a></li>
                                        <li class="nav-item"><a class="nav-link" href="blog-sidebar-right.html">Blog List Sidebar Right</a></li>
                                        <li class="nav-item"><a class="nav-link" href="blog-sidebar-left.html">Blog List Sidebar Left</a></li>
                                        <li class="nav-item"><a class="nav-link" href="article.html">Blog Article</a></li>
                                        <li class="nav-item"><a class="nav-link" href="article-sidebar-right.html">Blog Article Sidebar Right</a></li>
                                        <li class="nav-item"><a class="nav-link" href="article-sidebar-left.html">Blog Article Sidebar Left</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item nav-item-arrow-down nav-hover-show-sub"><a class="nav-link" href="#" data-role="nav-toggler">Blog Alternative Pages<span class="nav-arrow"><i class="fas fa-chevron-down"></i></span></a>
                                    <ul class="collapse nav">
                                        <li class="nav-item"><a class="nav-link" href="blog-alt-grid-2-cols.html">Blog Grid 2 Columns</a></li>
                                        <li class="nav-item"><a class="nav-link" href="blog-alt-2-cols.html">Blog 2 Columns</a></li>
                                        <li class="nav-item"><a class="nav-link" href="blog-alt-sidebar-right.html">Blog List Sidebar Right</a></li>
                                        <li class="nav-item"><a class="nav-link" href="blog-alt-sidebar-left.html">Blog List Sidebar Left</a></li>
                                        <li class="nav-item"><a class="nav-link" href="article-alt.html">Blog Article</a></li>
                                        <li class="nav-item"><a class="nav-link" href="article-alt-sidebar-right.html">Blog Article Sidebar Right</a></li>
                                        <li class="nav-item"><a class="nav-link" href="article-alt-sidebar-left.html">Blog Article Sidebar Left</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item nav-item-arrow-down nav-hover-show-sub"><a class="nav-link" href="#" data-role="nav-toggler">Shop Pages<span class="nav-arrow"><i class="fas fa-chevron-down"></i></span></a>
                                    <ul class="collapse nav">
                                        <li class="nav-item"><a class="nav-link" href="shop-3-cols.html">Shop 3 Columns</a></li>
                                        <li class="nav-item"><a class="nav-link" href="shop-sidebar-right.html">Shop Sidebar Right</a></li>
                                        <li class="nav-item"><a class="nav-link" href="shop-sidebar-left.html">Shop Sidebar Left</a></li>
                                        <li class="nav-item"><a class="nav-link" href="shop-short-3-cols.html">Shop Short 3 Columns</a></li>
                                        <li class="nav-item"><a class="nav-link" href="shop-short-sidebar-right.html">Shop Short Sidebar Right</a></li>
                                        <li class="nav-item"><a class="nav-link" href="shop-short-sidebar-left.html">Shop Short Sidebar Left</a></li>
                                        <li class="nav-item"><a class="nav-link" href="shop-product.html">Shop Product</a></li>
                                        <li class="nav-item"><a class="nav-link" href="shop-product-sidebar-right.html">Shop Product Sidebar Right</a></li>
                                        <li class="nav-item"><a class="nav-link" href="shop-product-sidebar-left.html">Shop Product Sidebar Left</a></li>
                                        <li class="nav-item"><a class="nav-link" href="shop-cart.html">Shop Cart</a></li>
                                        <li class="nav-item"><a class="nav-link" href="shop-checkout.html">Shop Checkout</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item nav-item-arrow-down nav-hover-show-sub"><a class="nav-link" href="#" data-role="nav-toggler">Shop Alternative Pages<span class="nav-arrow"><i class="fas fa-chevron-down"></i></span></a>
                                    <ul class="collapse nav">
                                        <li class="nav-item"><a class="nav-link" href="shop-alt-3-cols.html">Shop 3 Columns</a></li>
                                        <li class="nav-item"><a class="nav-link" href="shop-alt-sidebar-right.html">Shop Sidebar Right</a></li>
                                        <li class="nav-item"><a class="nav-link" href="shop-alt-sidebar-left.html">Shop Sidebar Left</a></li>
                                        <li class="nav-item"><a class="nav-link" href="shop-alt-short-3-cols.html">Shop Short 3 Columns</a></li>
                                        <li class="nav-item"><a class="nav-link" href="shop-alt-short-sidebar-right.html">Shop Short Sidebar Right</a></li>
                                        <li class="nav-item"><a class="nav-link" href="shop-alt-short-sidebar-left.html">Shop Short Sidebar Left</a></li>
                                        <li class="nav-item"><a class="nav-link" href="shop-alt-product.html">Shop Product</a></li>
                                        <li class="nav-item"><a class="nav-link" href="shop-alt-product-sidebar-right.html">Shop Product Sidebar Right</a></li>
                                        <li class="nav-item"><a class="nav-link" href="shop-alt-product-sidebar-left.html">Shop Product Sidebar Left</a></li>
                                        <li class="nav-item"><a class="nav-link" href="shop-alt-cart.html">Shop Cart</a></li>
                                        <li class="nav-item"><a class="nav-link" href="shop-alt-checkout.html">Shop Checkout</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item nav-item-arrow-down nav-hover-show-sub"><a class="nav-link" href="#" data-role="nav-toggler">Gallery Pages<span class="nav-arrow"><i class="fas fa-chevron-down"></i></span></a>
                                    <ul class="collapse nav">
                                        <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
                                        <li class="nav-item"><a class="nav-link" href="gallery-alt.html">Gallery Alternative</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item nav-item-arrow-down nav-hover-show-sub"><a class="nav-link" href="#" data-role="nav-toggler">User Pages<span class="nav-arrow"><i class="fas fa-chevron-down"></i></span></a>
                                    <ul class="collapse nav">
                                        <li class="nav-item"><a class="nav-link" href="sign-in.html">Sign in</a></li>
                                        <li class="nav-item"><a class="nav-link" href="sign-up.html">Sign up</a></li>
                                        <li class="nav-item"><a class="nav-link" href="forgot-password.html">Forgot password</a></li>
                                        <li class="nav-item"><a class="nav-link" href="sign-in-alt.html">Sign in alternative</a></li>
                                        <li class="nav-item"><a class="nav-link" href="sign-up-alt.html">Sign up alternative</a></li>
                                        <li class="nav-item"><a class="nav-link" href="forgot-password-alt.html">Forgot password alternative</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item nav-item-arrow-down nav-hover-show-sub"><a class="nav-link" href="#" data-role="nav-toggler">User dashboard Pages<span class="nav-arrow"><i class="fas fa-chevron-down"></i></span></a>
                                    <ul class="collapse nav">
                                        <li class="nav-item"><a class="nav-link" href="user-dashboard.html">Dashboard</a></li>
                                        <li class="nav-item"><a class="nav-link" href="user-profile.html">Profile</a></li>
                                        <li class="nav-item"><a class="nav-link" href="user-orders.html">Orders</a></li>
                                        <li class="nav-item"><a class="nav-link" href="user-wishlist.html">Wishlist</a></li>
                                        <li class="nav-item"><a class="nav-link" href="user-security.html">Security</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li> -->
            <li class="nav-item"><a class="nav-link" href="/category/seed">Seeds</a></li>
            <li class="nav-item"><a class="nav-link" href="/category/strain">Strains</a></li>
            <li class="nav-item"><a class="nav-link" href="/category/concentrate">Concentrates</a></li>
            <li class="nav-item"><a class="nav-link" href="/category/vape">Vapes</a></li>
            <!-- <li class="nav-item"><a class="nav-link" href="/reviews">Testimonials</a></li> -->
          </ul>
          <div class="navbar-extra">
            <ul class="actions-nav">
              <form #ngSearch="ngForm" (ngSubmit)="search()">
                <div class="input-view-flat input-gray-shadow form-group">
                  <div class="input-group">
                    <input class="form-control" name="search" type="text" placeholder="Keywords"
                      [(ngModel)]="searchString" required="required">
                  </div>
                </div>
              </form>
              <li class="nav-item"><a class="nav-link" href="/cart"><i class="fas fa-shopping-bag"></i><span
                    class="navbar-mobile">&nbsp;&nbsp;Cart</span><span class="cart-quantity"><span
                      class="badge badge-pill badge-warning">{{cartNumber}}</span></span></a></li>
              <li class="nav-item"><a class="nav-link" href="/checkout"><i class="fas fa-shopping-bag"></i><span
                    class="navbar-mobile">&nbsp;&nbsp;Checkout</span><span class="cart-quantity"><span
                      class="badge badge-pill badge-warning">${{total}}</span></span></a></li>
            </ul>
<!--             <div class="navbar-info">
              <div class="navbar-info-title">Call Us Now</div>
              <div class="navbar-info-value"><a href='tel:+17192150238'>+1 (719) 215-0238</a></div>
            </div> -->
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
