<section class="after-head slick-top-full">
  <div class="slick-view-banner slick-carousel" data-slider="top-side-dots">
    <div class="slick-slides">
      <div class="slick-slide">
        <div class="entity-banner section-white-text content-offs section-solid with-back">
          <div class="overflow-back image-cover" data-background="assets/images/content/1920x1080/bg-1.jpg"></div>
          <div class="overflow-back bg-body-back opacity-80"></div>
          <div class="container text-center entity-content">
            <div class="my-auto row">
              <div class="col-lg-9 mx-auto"><br>
                <!-- <a href="/products"><img src="assets/images/svg/logo.png"></a><br><br> -->
                <h2 class="h1 entity-title">Enjoy the year with <span class="text-theme">30% discount</span> on all
                  products. </h2><br>
<!--                 <h2 class="h1 entity-title"><span class="text-theme"><a href='tel:+17192150238'>+1 (719)
                      215-0238</a></span></h2> -->
                <!-- <p class="mb-4 pb-2 entity-text">Bred for a high content of beneficial substances. Low-THC hemp varieties for use in health and skincare products with high content of beneficial cannabidiol.</p> -->
                <p class="mb-4 pb-2 entity-text"><strong class="text-theme">We do ship discreetly to all states in the
                    US and Europe.</strong></p>
                <div class="entity-action-btns"><a class="btn-wide btn btn-theme" href="/products">shop now</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slick-slide">
        <div class="entity-banner section-white-text content-offs section-solid with-back">
          <div class="overflow-back image-cover" data-background="assets/images/content/1920x1080/vapor.jpg"></div>
          <div class="overflow-back bg-body-back opacity-80"></div>
          <div class="container text-center entity-content">
            <div class="my-auto row">
              <div class="col-lg-9 mx-auto">
                <h2 class="h1 entity-title">All type of <span class="text-theme">varieties</span></h2>
                <p class="mb-4 pb-2 entity-text">Our shop sells all types of weed strain variety. Every customer will
                  find what he/she needs. Our professional team will pack it up and deliver it to You as fast as
                  possible.</p>
                <div class="entity-action-btns"><a class="btn-wide btn btn-theme" href="/products">shop now</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slick-slide">
        <div class="entity-banner section-white-text content-offs section-solid with-back">
          <div class="overflow-back image-cover" data-background="assets/images/content/1920x1080/cap.jpg"></div>
          <div class="overflow-back bg-body-back opacity-80"></div>
          <div class="container text-center entity-content">
            <div class="my-auto row">
              <div class="col-lg-9 mx-auto">
                <h2 class="h1 entity-title"><span class="text-theme">Stock up</span> with our latest products</h2>
                <p class="mb-4 pb-2 entity-text">Newest arrivals are already on sale. Choose yours or call us and we
                  will pick up a one for You.</p>
                <div class="entity-action-btns"><a class="btn-wide btn btn-theme" href="/products">buy now</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="section-head">
    <div class="separator-double"></div>
    <h2 class="section-title">Enjoy the best cannabis with high THC</h2>
    <!-- <p class="section-text">How is this possible?</p> -->
  </div>
  <div class="container">
    <div class="cols-lg text-center text-md-left position-relative row">
      <div class="col-8 col-md-5 mx-auto mt-lg-4 position-lg-center"><img class="mw-100"
          src="assets/images/content/720x720/medical-cannabis.png" alt=""></div>
      <div class="w-100 d-xl-none"></div>
      <!-- <div class="col-12 col-md-6 col-lg-3">
        <div class="entity-plain">
          <div class="separator-double"></div>
          <p class="mb-0 entity-text">marijuana strains with high exotic THC gas</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 offset-lg-6 text-md-right">
        <div class="entity-plain">
          <div class="separator-double"></div>
          <p class="mb-0 entity-text">Cannabis rich in THC is marijuana</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="entity-plain">
          <div class="separator-double"></div>
          <p class="mb-0 entity-text">Cannabis with high THC exotic gas</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 offset-lg-6 text-md-right">
        <div class="entity-plain">
          <div class="separator-double"></div>
          <p class="mb-0 entity-text">Both have many health-promoting compounds</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="entity-plain">
          <div class="separator-double"></div>
          <p class="mb-0 entity-text">Cannabis with high THC exotic gas</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 offset-lg-6 text-md-right">
        <div class="entity-plain">
          <div class="separator-double"></div>
          <p class="mb-0 entity-text">Both have many health-promoting compounds</p>
        </div>
      </div> -->
    </div>
  </div>
</section>
<section class="section-solid">
  <div class="bg-body-secondary overflow-back">
    <div class="c-leafs-side"><span class="svg-content svg-fill-back-image"
        data-svg="assets/images/svg/cannabis-leafs.svg"></span></div>
  </div>
  <div class="section-head">
    <div class="separator-double"></div>
    <h2 class="section-title">Marijuana product types</h2>
    <p class="section-text">Some of the types of products offered by our store</p>
  </div>
  <div class="container">
    <div class="grid justify-content-center row">
      <div class="col-md-6 col-xl-3 d-flex">
        <article class="entity-block entity-hover-shadow text-center">
          <div class="entity-content">
            <div class="entity-circle-in bg-body-secondary mx-auto entity-image"><img class="mw-100"
                src="assets/images/content/150x150/extract.jpg" alt=""></div>
            <h4 class="entity-title">Oil</h4>
            <p class="entity-text">THC and CBD content in cannabis may vary among lots</p>
            <div class="text-center pt-2 entity-action-btns"><a class="btn-wide btn btn-theme"
                href="../category/concentrate">shop</a></div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-xl-3 d-flex">
        <article class="entity-block entity-hover-shadow text-center">
          <div class="entity-content">
            <div class="entity-circle-in bg-body-secondary mx-auto entity-image"><img class="mw-100"
                src="assets/images/content/150x150/flowers.jpg" alt=""></div>
            <h4 class="entity-title">Flowers</h4>
            <p class="entity-text">THC and CBD content in cannabis may vary among lots</p>
            <div class="text-center pt-2 entity-action-btns"><a class="btn-wide btn btn-theme"
                href="../category/strain">shop</a></div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-xl-3 d-flex">
        <article class="entity-block entity-hover-shadow text-center">
          <div class="entity-content">
            <div class="entity-circle-in bg-body-secondary mx-auto entity-image"><img class="mw-100"
                src="assets/images/content/150x150/concentrate.jpg" alt=""></div>
            <h4 class="entity-title">Concentrate</h4>
            <p class="entity-text">THC and CBD content in cannabis may vary among lots</p>
            <div class="text-center pt-2 entity-action-btns"><a class="btn-wide btn btn-theme"
                href="../category/concentrate">shop</a></div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-xl-3 d-flex">
        <article class="entity-block entity-hover-shadow text-center">
          <div class="entity-content">
            <div class="entity-circle-in bg-body-secondary mx-auto entity-image"><img class="mw-100"
                src="assets/images/content/150x150/weed-cookies.jpg" alt=""></div>
            <h4 class="entity-title">Edibles</h4>
            <p class="entity-text">THC and CBD content in cannabis may vary among lots</p>
            <div class="text-center pt-2 entity-action-btns"><a class="btn-wide btn btn-theme"
                href="../category/edible">shop</a></div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="entity-slim-banner text-center text-lg-left with-back">
    <div class="overflow-back image-cover" data-background="assets/images/content/1920x1080/cannabis.jpg"></div>
    <div class="back-block bg-body-back opacity-80"></div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-auto mb-5 mb-lg-0 mr-lg-5 side-big">
          <div class="logo-element"><span class="logo-icon"><span class="svg-content svg-fill-theme"
                data-svg="assets/images/svg/cannabis.svg"></span></span><span class="logo-text">naturalherbs</span>
          </div>
        </div>
        <div class="my-auto col">
          <h2 class="mb-4 entity-title">Medical cannabis shouldn’t be costly, inconsistent, or difficult to access.</h2>
          <p class="h5 mb-0 entity-text">We only carry the Very Best Product around!</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-solid">
  <div class="overflow-back">
    <div class="c-leafs-4"><span class="svg-content svg-fill-back-image"
        data-svg="assets/images/svg/cannabis.svg"></span></div>
  </div>
  <div class="section-head">
    <div class="separator-double"></div>
    <h2 class="section-title">Quick shop</h2>
    <p class="section-text">You can start accepting orders online</p>
  </div>
  <div class="container">
    <div class="slick-view-carousel slick-carousel" data-slider="quick-products">
      <div class="slick-slides">
        <div class="slick-slide" *ngFor="let product of products">
          <article class="entity-block entity-hover-shadow"><a class="entity-preview-show-up entity-preview"
              href="../product/{{product.category}}/{{product.id}}"><span
                class="embed-responsive embed-responsive-4by3"><img class="embed-responsive-item"
                  src="{{product.photo}}" alt=""></span><span class="with-back entity-preview-content"><span
                  class="overflow-back bg-body-back opacity-70"></span><span class="m-auto h1 text-theme"><i
                    class="fas fa-shopping-cart"></i></span></span></a>
            <div class="fill-color-line" data-role="fill-line">
              <div class="opacity-30 fill-line-segment bg-theme" data-role="fill-line-segment" data-min-width="10"
                data-preffered-width="50" data-max-width="80"></div>
              <div class="opacity-60 fill-line-segment bg-theme" data-role="fill-line-segment" data-min-width="10"
                data-preffered-width="50" data-max-width="80"></div>
              <div class="fill-line-segment bg-theme" data-role="fill-line-segment" data-min-width="10"
                data-preffered-width="50" data-max-width="80"></div>
            </div>
            <div class="entity-content">
              <h4 class="entity-title"><a class="content-link"
                  href="../product/{{product.category}}/{{product.id}}">{{product.name}}</a></h4>
              <p class="mb-0 entity-text">{{product.description1.substr(0, 140)}}...</p>

              <div class="entity-bottom-line">
                <div class="entity-price"><span class="currency">$</span>{{product.prices[0].amount}} <span
                    class="price-unit">/ {{product.prices[0].unit}}</span></div>
                <div class="entity-price"><span class="currency">{{product.thc}}</span> <span class="price-unit"></span>
                </div>
                <div class="entity-action-btns"><a class="btn-sm btn btn-theme"
                    href="../product/{{product.category}}/{{product.id}}">add to cart</a></div>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="slick-arrows">
        <div class="slick-arrow-prev"><i class="fas fa-arrow-left"></i></div>
        <div class="slick-arrow-next"><i class="fas fa-arrow-right"></i></div>
      </div>
    </div>
  </div>
</section>
<section class="bg-body-secondary section-solid with-back">
  <div class="opacity-3 overflow-back image-cover" data-background="assets/images/content/1920x1080/cannabis.jpg"></div>
  <div class="section-head">
    <div class="separator-double"></div>
    <h2 class="section-title">Medical Marijuana FAQ</h2>
    <p class="section-text">Legalized medical marijuana</p>
  </div>
  <div class="side-accordions container" data-role="accordion-list">
    <!-- <div class="entity-side-accordion active" data-role="accordion-item">
      <div class="entity-head" data-role="accordion-toggle">
        <h6 class="entity-title">1.&nbsp;What is medicinal cannabis?</h6>
        <div class="active-arrow"><i class="fas fa-chevron-down"></i></div>
      </div>
      <div class="entity-content" data-role="accordion-content">
        <div class="entity-bg-circle p-3 entity-icon"><img class="mw-100" src="assets/images/content/150x150/flowers.png" alt=""></div>
        <p class="entity-text">According to the Therapeutic Goods Administration (TGA), cannabis is a genus of flowering plant in the family cannabaceae. It has a long history of medicinal use in several cultures contains a variety of compounds (cannabinoids) which are ligands (binding agents) for cannabinoid receptors in the body. In modern times, a variety of plant-derived and synthetic cannabinoids have been developed for medical use.</p>
      </div>
    </div> -->
    <div class="entity-side-accordion" data-role="accordion-item">
      <div class="entity-head" data-role="accordion-toggle">
        <h6 class="entity-title">2.&nbsp;What medical conditions can it treat?</h6>
        <div class="active-arrow"><i class="fas fa-chevron-down"></i></div>
      </div>
      <div class="entity-content" data-role="accordion-content">
        <div class="entity-image"><img class="mw-100" src="assets/images/content/720x405/cbd.jpg" alt=""></div>
        <p class="entity-text">More than 600,000 Americans turn to cannabis for relief from chronic pain — and the
          scientific evidence for its effectiveness is substantial. In gold-standard randomized clinical trials of
          people who had agonizing health concerns — peripheral neuropathy (nerve pain from diabetes), spinal cord
          injury, HIV or complex regional pain syndrome, cancer, chemotherapy, muscle and joint problems, rheumatoid
          arthritis and multiple sclerosis — cannabis reduced pain by 40 percent, according to the 2017 NASEM report.
        </p>
      </div>
    </div>
    <!-- <div class="entity-side-accordion" data-role="accordion-item">
      <div class="entity-head" data-role="accordion-toggle">
        <h6 class="entity-title">3.&nbsp;Which patients are eligible to obtain medicinal cannabis?</h6>
        <div class="active-arrow"><i class="fas fa-chevron-down"></i></div>
      </div>
      <div class="entity-content" data-role="accordion-content">
        <div class="entity-image"><img class="mw-100" src="assets/images/content/720x405/cannabis.jpg" alt=""></div>
        <p class="entity-text">Thousands of Canadians are federally licensed to possess and use medical marijuana anywhere in Canada. If you are new to medical marijuana, the only way to legally protect yourself from possession charges is through the Access to Cannabis for Medical Purposes Regulations (ACMPR) which came into effect on August 24th 2016.</p>
      </div>
    </div>
    <div class="entity-side-accordion" data-role="accordion-item">
      <div class="entity-head" data-role="accordion-toggle">
        <h6 class="entity-title">4.&nbsp;Who is authorised to prescribe medicinal cannabis?</h6>
        <div class="active-arrow"><i class="fas fa-chevron-down"></i></div>
      </div>
      <div class="entity-content" data-role="accordion-content">
        <div class="entity-bg-circle p-3 entity-icon"><img class="mw-100" src="assets/images/content/150x150/weed-cookies.png" alt=""></div>
        <p class="entity-text">In these circumstances a medical practitioner may be granted authority to become an 'Authorised Prescriber' of a specified unapproved therapeutic good (or class of unapproved therapeutic goods) to specific patients (or classes of recipients) with a particular medical condition.</p>
      </div>
    </div>
    <div class="entity-side-accordion" data-role="accordion-item">
      <div class="entity-head" data-role="accordion-toggle">
        <h6 class="entity-title">5.&nbsp;Why is it hard to obtain a prescription?</h6>
        <div class="active-arrow"><i class="fas fa-chevron-down"></i></div>
      </div>
      <div class="entity-content" data-role="accordion-content">
        <div class="entity-image"><img class="mw-100" src="assets/images/content/720x405/prescription.jpg" alt=""></div>
        <p class="entity-text">When medication is out of stock at pharmacies it can leave people feeling stressed. In more serious cases it can make dealing with acute pain and infections more difficult, and make it harder to manage cancer and chronic conditions such as eczema. People experiencing these problems with their medication said it had prolonged their recovery and had a negative effect on their long-term health.</p>
      </div>
    </div>
    <div class="entity-side-accordion" data-role="accordion-item">
      <div class="entity-head" data-role="accordion-toggle">
        <h6 class="entity-title">6.&nbsp;What is the legal framework around it?</h6>
        <div class="active-arrow"><i class="fas fa-chevron-down"></i></div>
      </div>
      <div class="entity-content" data-role="accordion-content">
        <div class="entity-bg-circle p-3 entity-icon"><img class="mw-100" src="assets/images/content/150x150/weed-cookies.png" alt=""></div>
        <p class="entity-text">We have discovered that the regulation of cannabis will touch every aspect of our society. One of the predominant features of our deliberations has been the diversity of opinions, emotions and expertise expressed by those who came forward. People and organizations gave generously of their time and reflections. We explored the issue in remote corners of Canada as well as outside our borders..<a href="https://www.canada.ca/en/health-canada/services/drugs-medication/cannabis/laws-regulations/task-force-cannabis-legalization-regulation/framework-legalization-regulation-cannabis-in-canada.html">read more</a></p>
      </div>
    </div> -->
  </div>
</section>
<section class="section-solid" data-slider="testimonials">
  <div class="overflow-back">
    <div class="container position-relative h-100">
      <div class="c-leafs-5"><span class="svg-content svg-fill-back-image"
          data-svg="assets/images/svg/cannabis.svg"></span></div>
    </div>
  </div>
  <div class="section-head container left">
    <div class="separator-double"></div>
    <h2 class="section-title">What our customers are saying</h2>
    <div class="slick-arrows">
      <div class="slick-arrow-prev"><i class="fas fa-arrow-left"></i></div>
      <div class="slick-arrow-next"><i class="fas fa-arrow-right"></i></div>
    </div>
  </div>
  <div class="container">
    <div class="slick-view-carousel slick-carousel">
      <div class="slick-slides">
        <div class="slick-slide">
          <div class="entity-block entity-hover-shadow">
            <div class="pb-4 entity-content">
              <div class="side-image entity-header">
                <div class="entity-image"><img class="mw-100" src="assets/images/content/100x100/people-7.jpg" alt="">
                </div>
                <h5 class="entity-title">Good Service!</h5>
              </div>
              <p class="entity-text">Delivery wasn't that fast as i was told on purchase. Nevertheless got what i
                ordered. Can't
                say much but I'm a client today. David Charles from Dallas Texas.</p>
              <div class="entity-footer">
                <div class="row">
                  <div class="col-12 col-md">
                    <div class="user-rating"><span class="rating-item"><i class="fas fa-cannabis"></i></span> <span
                        class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i
                          class="fas fa-cannabis"></i></span> <span class="rating-item"><i
                          class="fas fa-cannabis"></i></span>
                      <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                    </div>
                  </div>
                  <div class="col-12 col-md-auto">
                    <div class="entity-author">David Charles</div>
                    <div class="entity-author">01/06/2022</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slick-slide">
          <div class="entity-block entity-hover-shadow">
            <div class="pb-4 entity-content">
              <div class="side-image entity-header">
                <div class="entity-image"><img class="mw-100" src="assets/images/content/100x100/people-7.jpg" alt="">
                </div>
                <h5 class="entity-title">Great for everyone!</h5>
              </div>
              <p class="entity-text">Has a decently strong flavor, but some artifitial flavor too, besides this, it's
                not bad.</p>
              <div class="entity-footer">
                <div class="row">
                  <div class="col-12 col-md">
                    <div class="user-rating"><span class="rating-item"><i class="fas fa-cannabis"></i></span> <span
                        class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i
                          class="fas fa-cannabis"></i></span> <span class="rating-item"><i
                          class="fas fa-cannabis"></i></span>
                      <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                    </div>
                  </div>
                  <div class="col-12 col-md-auto">
                    <div class="entity-author">Crimson</div>
                    <div class="entity-author">04/06/2022</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slick-slide">
          <div class="entity-block entity-hover-shadow">
            <div class="pb-4 entity-content">
              <div class="side-image entity-header">
                <div class="entity-image"><img class="mw-100" src="assets/images/content/100x100/people-7.jpg" alt="">
                </div>
                <h5 class="entity-title">Got my attention!</h5>
              </div>
              <p class="entity-text">
                Great blue dream cannabis for $160. Gives you a relaxing high and a small buzz of energy at the same
                time. I did have
                some stems, but honestly, you'll have that with a business who prides freshness on their products. I
                also got a couple
                of seeds from my order and I'm really excited to see if I can grow some.
              </p>
              <div class="entity-footer">
                <div class="row">
                  <div class="col-12 col-md">
                    <div class="user-rating"><span class="rating-item"><i class="fas fa-cannabis"></i></span> <span
                        class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i
                          class="fas fa-cannabis"></i></span> <span class="rating-item"><i
                          class="fas fa-cannabis"></i></span>
                      <span class="rating-item"><i class="fas fa-cannabis"></i></span>
                    </div>
                  </div>
                  <div class="col-12 col-md-auto">
                    <div class="entity-author">Mark Owen</div>
                    <div class="entity-author">20/06/2022</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slick-slide">
          <div class="entity-block entity-hover-shadow">
            <div class="pb-4 entity-content">
              <div class="side-image entity-header">
                <div class="entity-image"><img class="mw-100" src="assets/images/content/100x100/people-7.jpg" alt="">
                </div>
                <h5 class="entity-title">So much better than the last brand!!!</h5>
              </div>
              <p class="entity-text">This is my second order, really enjoy the taste and size, takes 3 to 4 to get
                desired effect.</p>
              <div class="entity-footer">
                <div class="row">
                  <div class="col-12 col-md">
                    <div class="user-rating"><span class="rating-item"><i class="fas fa-cannabis"></i></span> <span
                        class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i
                          class="fas fa-cannabis"></i></span> <span class="rating-item"><i
                          class="fas fa-cannabis"></i></span> <span class="rating-item"><i
                          class="fas fa-cannabis"></i></span></div>
                  </div>
                  <div class="col-12 col-md-auto">
                    <div class="entity-author">John Dru</div>
                    <div class="entity-author">05/06/2021</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slick-slide">
          <div class="entity-block entity-hover-shadow">
            <div class="pb-4 entity-content">
              <div class="side-image entity-header">
                <div class="entity-image"><img class="mw-100" src="assets/images/content/100x100/people-7.jpg" alt="">
                </div>
                <h5 class="entity-title">AWESOME!!! I can sleep again.</h5>
              </div>
              <p class="entity-text">Great tasting, love these dummies! Really help me sleep at night.</p>
              <div class="entity-footer">
                <div class="row">
                  <div class="col-12 col-md">
                    <div class="user-rating"><span class="rating-item"><i class="fas fa-cannabis"></i></span> <span
                        class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i
                          class="fas fa-cannabis"></i></span> <span class="rating-item"><i
                          class="fas fa-cannabis"></i></span> <span class="rating-item"><i
                          class="fas fa-cannabis"></i></span></div>
                  </div>
                  <div class="col-12 col-md-auto">
                    <div class="entity-author">Angela F.</div>
                    <div class="entity-author">02/26/2021</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slick-slide">
          <div class="entity-block entity-hover-shadow">
            <div class="pb-4 entity-content">
              <div class="side-image entity-header">
                <div class="entity-image"><img class="mw-100" src="assets/images/content/100x100/people-7.jpg" alt="">
                </div>
                <h5 class="entity-title">I'd recommend them to any of my friends</h5>
              </div>
              <p class="entity-text">I've used other online dispensaries in the past but none provided the quick service
                that I got from this site.</p>
              <div class="entity-footer">
                <div class="row">
                  <div class="col-12 col-md">
                    <div class="user-rating"><span class="rating-item"><i class="fas fa-cannabis"></i></span> <span
                        class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i
                          class="fas fa-cannabis"></i></span> <span class="rating-item"><i
                          class="fas fa-cannabis"></i></span> <span class="rating-item rating-inactive"><i
                          class="fas fa-cannabis"></i></span></div>
                  </div>
                  <div class="col-12 col-md-auto">
                    <div class="entity-author">Wiliam M.</div>
                    <div class="entity-author">07/12/2019</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slick-slide">
          <div class="entity-block entity-hover-shadow">
            <div class="pb-4 entity-content">
              <div class="side-image entity-header">
                <div class="entity-image"><img class="mw-100" src="assets/images/content/100x100/people-7.jpg" alt="">
                </div>
                <h5 class="entity-title">Best of the best!</h5>
              </div>
              <p class="entity-text">This is my first order, really enjoy the taste and size, takes 3 to 4 to get
                desired effect.</p>
              <div class="entity-footer">
                <div class="row">
                  <div class="col-12 col-md">
                    <div class="user-rating"><span class="rating-item"><i class="fas fa-cannabis"></i></span> <span
                        class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i
                          class="fas fa-cannabis"></i></span> <span class="rating-item"><i
                          class="fas fa-cannabis"></i></span> <span class="rating-item"><i
                          class="fas fa-cannabis"></i></span></div>
                  </div>
                  <div class="col-12 col-md-auto">
                    <div class="entity-author">Joe Soothe</div>
                    <div class="entity-author">03/08/2019</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="slick-slide">
          <div class="entity-block entity-hover-shadow">
            <div class="pb-4 entity-content">
              <div class="side-image entity-header">
                <div class="entity-image"><img class="mw-100" src="assets/images/content/100x100/people-7.jpg" alt="">
                </div>
                <h5 class="entity-title">Quick delivery and helpful team.</h5>
              </div>
              <p class="entity-text">I've used other online dispensaries in the past but none provided the quick service
                that I got from this site.</p>
              <div class="entity-footer">
                <div class="row">
                  <div class="col-12 col-md">
                    <div class="user-rating"><span class="rating-item"><i class="fas fa-cannabis"></i></span> <span
                        class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i
                          class="fas fa-cannabis"></i></span> <span class="rating-item"><i
                          class="fas fa-cannabis"></i></span> <span class="rating-item"><i
                          class="fas fa-cannabis"></i></span></div>
                  </div>
                  <div class="col-12 col-md-auto">
                    <div class="entity-author">Michael Leaf</div>
                    <div class="entity-author">01/03/2020 </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slick-slide">
          <div class="entity-block entity-hover-shadow">
            <div class="pb-4 entity-content">
              <div class="side-image entity-header">
                <div class="entity-image"><img class="mw-100" src="assets/images/content/100x100/people-7.jpg" alt="">
                </div>
                <h5 class="entity-title">Great Services.</h5>
              </div>
              <p class="entity-text">Medical cannabis has helped me alot thanks to the Natural Herb. I couldn't
                walk without medicating. It makes me to digest very well and akes me relief. Can't say much but I'm a
                client today and promise to always remain a faithful client. David Charles from Dallas Texas.</p>
              <div class="entity-footer">
                <div class="row">
                  <div class="col-12 col-md">
                    <div class="user-rating"><span class="rating-item"><i class="fas fa-cannabis"></i></span> <span
                        class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i
                          class="fas fa-cannabis"></i></span> <span class="rating-item"><i
                          class="fas fa-cannabis"></i></span> <span class="rating-item"><i
                          class="fas fa-cannabis"></i></span></div>
                  </div>
                  <div class="col-12 col-md-auto">
                    <div class="entity-author">McKane</div>
                    <div class="entity-author">12/30/2020</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="section-solid-sm section-white-text">
  <div class="overflow-back">
    <div class="back-block bg-body-main"></div>
    <div class="back-block bg-cannabis-pattern"></div>
  </div>
  <div class="container">
    <form autocomplete="off">
      <div class="row grid text-center text-lg-left">
        <div class="col-12 col-lg-auto">
          <h2 class="section-title">Subscribe</h2>
        </div>
        <div class="col-12 col-md">
          <div class="input-view-flat form-group">
            <div class="input-group"><input class="form-control" name="email" type="email" placeholder="Email" required="required"></div>
          </div>
        </div>
        <div class="col-12 col-md-auto"><button class="btn-wide mb-0 btn btn-theme-white" type="submit">subscribe</button></div>
      </div>
    </form>
  </div>
</section> -->
