<section class="after-head top-block-page with-back section-white-text">
  <div class="overflow-back image-cover mw-100" data-background="assets/images/content/x/top-4.jpg"></div>
  <div class="overflow-back bg-body-back opacity-80"></div>
  <div class="content-offs container" style="margin-top: 175px;">
    <div class="section-top-head with-back">
      <h1 class="section-title">Testimonials</h1>
      <div class="mt-3">
        <div class="page-breadcrumbs"><a class="content-link" href="/">Home</a><span class="mx-2">\</span><span>Testimonials</span></div>
      </div>
    </div>
  </div>
</section>

<section class="section-solid" data-slider="testimonials">
  <div class="overflow-back">
    <div class="container position-relative h-100">
      <div class="c-leafs-5"><span class="svg-content svg-fill-back-image" data-svg="assets/images/svg/cannabis.svg"></span></div>
    </div>
  </div>
  <div class="section-head container left">
    <div class="separator-double"></div>
    <h2 class="section-title">What our customers are saying</h2>
    <div class="slick-arrows">
      <div class="slick-arrow-prev"><i class="fas fa-arrow-left"></i></div>
      <div class="slick-arrow-next"><i class="fas fa-arrow-right"></i></div>
    </div>
  </div>
  <div class="container">
    <div class="slick-view-carousel slick-carousel">
      <div class="slick-slides">
        
        <div class="slick-slide">
          <div class="entity-block entity-hover-shadow">
            <div class="pb-4 entity-content">
              <div class="side-image entity-header">
                <div class="entity-image"><img class="mw-100" src="assets/images/content/100x100/people-7.jpg" alt=""></div>
                <h5 class="entity-title">Delivery time..</h5>
              </div>
              <p class="entity-text">Good shit but my delivery took long.</p>
              <div class="entity-footer">
                <div class="row">
                  <div class="col-12 col-md">
                    <div class="user-rating"><span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item rating-inactive"><i class="fas fa-cannabis"></i></span></div>
                  </div>
                  <div class="col-12 col-md-auto">
                    <div class="entity-author">Jasper J</div>
                    <div class="entity-author">03/05/2021</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slick-slide">
          <div class="entity-block entity-hover-shadow">
            <div class="pb-4 entity-content">
              <div class="side-image entity-header">
                <div class="entity-image"><img class="mw-100" src="assets/images/content/100x100/people-7.jpg" alt=""></div>
                <h5 class="entity-title">Good shit dudes but need more stores to solve delivery issues.</h5>
              </div>
              <p class="entity-text">At least you are guarantee to recieve your package though it might not be good as you thought.</p>
              <div class="entity-footer">
                <div class="row">
                  <div class="col-12 col-md">
                    <div class="user-rating"><span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span></div>
                  </div>
                  <div class="col-12 col-md-auto">
                    <div class="entity-author">Joe Milner</div>
                    <div class="entity-author">11/04/2021</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slick-slide">
          <div class="entity-block entity-hover-shadow">
            <div class="pb-4 entity-content">
              <div class="side-image entity-header">
                <div class="entity-image"><img class="mw-100" src="assets/images/content/100x100/people-7.jpg" alt=""></div>
                <h5 class="entity-title">Still waiting for christmas discounts</h5>
              </div>
              <p class="entity-text">Last time I purchased, you dudes told me there are gonna be some great discounts during December period, I hope it still holds cause am waiting for it.</p>
              <div class="entity-footer">
                <div class="row">
                  <div class="col-12 col-md">
                    <div class="user-rating"><span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span></div>
                  </div>
                  <div class="col-12 col-md-auto">
                    <div class="entity-author">Karim Diaz</div>
                    <div class="entity-author">11/25/2020</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slick-slide">
          <div class="entity-block entity-hover-shadow">
            <div class="pb-4 entity-content">
              <div class="side-image entity-header">
                <div class="entity-image"><img class="mw-100" src="assets/images/content/100x100/people-7.jpg" alt=""></div>
                <h5 class="entity-title">You surely gonna be my new plug</h5>
              </div>
              <p class="entity-text">Won't lie to you I was skeptical when placing my order and paying for it cause I have once been those scams victim but who risk nothing earn nothing, so I took the risk, and luckily I earned something.</p>
              <div class="entity-footer">
                <div class="row">
                  <div class="col-12 col-md">
                    <div class="user-rating"><span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span></div>
                  </div>
                  <div class="col-12 col-md-auto">
                    <div class="entity-author">Klay Magland</div>
                    <div class="entity-author">011/20/2020</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slick-slide">
          <div class="entity-block entity-hover-shadow">
            <div class="pb-4 entity-content">
              <div class="side-image entity-header">
                <div class="entity-image"><img class="mw-100" src="assets/images/content/100x100/people-7.jpg" alt=""></div>
                <h5 class="entity-title">So much better than the last brand!!!</h5>
              </div>
              <p class="entity-text">This is my second order, really enjoy the taste and size, takes 3 to 4 to get desired effect.</p>
              <div class="entity-footer">
                <div class="row">
                  <div class="col-12 col-md">
                    <div class="user-rating"><span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span></div>
                  </div>
                  <div class="col-12 col-md-auto">
                    <div class="entity-author">John Dru</div>
                    <div class="entity-author">05/06/2020</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slick-slide">
          <div class="entity-block entity-hover-shadow">
            <div class="pb-4 entity-content">
              <div class="side-image entity-header">
                <div class="entity-image"><img class="mw-100" src="assets/images/content/100x100/people-7.jpg" alt=""></div>
                <h5 class="entity-title">AWESOME!!! I can sleep again.</h5>
              </div>
              <p class="entity-text">Great tasting, love these dummies! Really help me sleep at night.</p>
              <div class="entity-footer">
                <div class="row">
                  <div class="col-12 col-md">
                    <div class="user-rating"><span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span></div>
                  </div>
                  <div class="col-12 col-md-auto">
                    <div class="entity-author">Angela F.</div>
                    <div class="entity-author">02/26/2020</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slick-slide">
          <div class="entity-block entity-hover-shadow">
            <div class="pb-4 entity-content">
              <div class="side-image entity-header">
                <div class="entity-image"><img class="mw-100" src="assets/images/content/100x100/people-7.jpg" alt=""></div>
                <h5 class="entity-title">I'd recommend them to any of my friends</h5>
              </div>
              <p class="entity-text">I've used other online dispensaries in the past but none provided the quick service that I got from this site.</p>
              <div class="entity-footer">
                <div class="row">
                  <div class="col-12 col-md">
                    <div class="user-rating"><span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item rating-inactive"><i class="fas fa-cannabis"></i></span></div>
                  </div>
                  <div class="col-12 col-md-auto">
                    <div class="entity-author">Wiliam M.</div>
                    <div class="entity-author">07/12/2019</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slick-slide">
          <div class="entity-block entity-hover-shadow">
            <div class="pb-4 entity-content">
              <div class="side-image entity-header">
                <div class="entity-image"><img class="mw-100" src="assets/images/content/100x100/people-7.jpg" alt=""></div>
                <h5 class="entity-title">Best of the best!</h5>
              </div>
              <p class="entity-text">This is my first order, really enjoy the taste and size, takes 3 to 4 to get desired effect.</p>
              <div class="entity-footer">
                <div class="row">
                  <div class="col-12 col-md">
                    <div class="user-rating"><span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span></div>
                  </div>
                  <div class="col-12 col-md-auto">
                    <div class="entity-author">Joe Soothe</div>
                    <div class="entity-author">03/08/2019</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slick-slide">
          <div class="entity-block entity-hover-shadow">
            <div class="pb-4 entity-content">
              <div class="side-image entity-header">
                <div class="entity-image"><img class="mw-100" src="assets/images/content/100x100/people-7.jpg" alt=""></div>
                <h5 class="entity-title">Great for everyone!</h5>
              </div>
              <p class="entity-text">Medical cannabis has helped me alot thanks to the 420 Global Dank Shop. I couldn't walk without medicating. It makes me to digest very well and akes me relief. Can't say much but I'm a client today and promise to always remain a faithful client. David Charles from Dallas Texas.</p>
              <div class="entity-footer">
                <div class="row">
                  <div class="col-12 col-md">
                    <div class="user-rating"><span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span></div>
                  </div>
                  <div class="col-12 col-md-auto">
                    <div class="entity-author">Doroty Snith</div>
                    <div class="entity-author">01/07/2019</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slick-slide">
          <div class="entity-block entity-hover-shadow">
            <div class="pb-4 entity-content">
              <div class="side-image entity-header">
                <div class="entity-image"><img class="mw-100" src="assets/images/content/100x100/people-7.jpg" alt=""></div>
                <h5 class="entity-title">Quick delivery and helpful team.</h5>
              </div>
              <p class="entity-text">I've used other online dispensaries in the past but none provided the quick service that I got from this site.</p>
              <div class="entity-footer">
                <div class="row">
                  <div class="col-12 col-md">
                    <div class="user-rating"><span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span></div>
                  </div>
                  <div class="col-12 col-md-auto">
                    <div class="entity-author">Michael Leaf</div>
                    <div class="entity-author">01/03/2019 </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slick-slide">
          <div class="entity-block entity-hover-shadow">
            <div class="pb-4 entity-content">
              <div class="side-image entity-header">
                <div class="entity-image"><img class="mw-100" src="assets/images/content/100x100/people-7.jpg" alt=""></div>
                <h5 class="entity-title">Great Services.</h5>
              </div>
              <p class="entity-text">Medical cannabis has helped me alot thanks to the 420 Global Dank Shop. I couldn't walk without medicating. It makes me to digest very well and akes me relief. Can't say much but I'm a client today and promise to always remain a faithful client. David Charles from Dallas Texas.</p>
              <div class="entity-footer">
                <div class="row">
                  <div class="col-12 col-md">
                    <div class="user-rating"><span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span> <span class="rating-item"><i class="fas fa-cannabis"></i></span></div>
                  </div>
                  <div class="col-12 col-md-auto">
                    <div class="entity-author">McKane</div>
                    <div class="entity-author">12/30/2018</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>