<section class="after-head top-block-page with-back section-white-text">
  <div class="overflow-back image-cover mw-100" data-background="assets/images/content/x/top-2.jpg"></div>
  <div class="overflow-back bg-body-back opacity-80"></div>
  <div class="content-offs container" style="margin-top: 175px;">
    <div class="section-top-head with-back">
      <h1 class="section-title">Job Opportunity</h1>
      <div class="mt-3">
        <div class="page-breadcrumbs"><a class="content-link" href="/">Home</a><span class="mx-2">\</span><span>Job Opportunity</span></div>
      </div>
    </div>
  </div>
</section>
<section class="section-solid">
  <div class="overflow-back">
    <div class="container h-100 position-relative">
      <div class="c-vape-side"><span class="svg-content svg-fill-theme" data-svg="assets/images/svg/cannabis.svg"></span></div>
    </div>
  </div>
  <div class="section-head">
    <div class="separator-double"></div>
    <h2 class="section-title">We Are Recruiting. Please provide the following Information.</h2>
  </div>
  <div class="container">
    <form #contactForm="ngForm" (ngSubmit)="submit()">
      <div class="row grid justify-content-center">
        <div class="col-12 col-sm-6 col-lg-5 col-xl-4">
          <div class="input-view-flat input-gray-shadow form-group"><label class="required">Name</label>
            <div class="input-group"><input class="form-control" name="name" type="text" placeholder="Full name" required="required" [(ngModel)]="contact.firstName"></div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-5 col-xl-4">
          <div class="input-view-flat input-gray-shadow form-group"><label class="required">Email</label>
            <div class="input-group"><input class="form-control" name="email" type="email" placeholder="Your email address" required="required" [(ngModel)]="contact.email"></div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-5 col-xl-4">
          <div class="input-view-flat input-gray-shadow form-group"><label class="required">Phone</label>
            <div class="input-group"><input class="form-control" name="name" type="text" placeholder="How can we telephone you?" required="required" [(ngModel)]="contact.phone"></div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-5 col-xl-4">
          <div class="input-view-flat input-gray-shadow form-group"><label class="required">Age</label>
            <div class="input-group"><input class="form-control" name="email" type="email" placeholder="How old are you?" required="required" [(ngModel)]="contact.age"></div>
          </div>
        </div>

        <div class="col-12 col-lg-10 col-xl-8">
          <div class="input-view-flat input-gray-shadow form-group"><label class="required">Message</label>
            <div class="input-group"><textarea class="form-control" name="message" placeholder="You can leave an optional message" [(ngModel)]="contact.message"></textarea></div>
          </div>
        </div>
        <div class="col-12 text-center"><button class="btn-wide mb-0 btn btn-theme" type="submit">{{buttonMsg}}</button></div>
      </div>
    </form>
  </div>
</section>
<section class="section" style="margin-top: 0px;">
  <!-- <div class="section-map">
      <div class="gmap" data-lat="-33.88" data-lng="151.108" data-center-lat="-33.8825"></div>
  </div> -->
  <div class="section-map-container container">
    <div class="text-center grid row">
      <div class="col-md-4">
        <h4 class="entity-title">Customer Support Specialist</h4>
        <p class="mb-0 entity-subtext">As a Full-Time Support Specialist, you will respond to escalated inbound customer inquiries from front-line agents in the call center. You will ensure that call center agent questions are answered in the appropriate channel to ensure customers are taken care of in a timely fashion. You will also ensure that questions asked by the call center can be found in the Tier 1 Guidebook, if the documentation does not exist, you will suggest the addition of any documentation needed by our front line call center to the Quality Improvement Team.</p>
      </div>
      <div class="col-md-4">
        <h4 class="entity-title">What you'll do</h4>
        <p class="mb-0 entity-subtext">Help customers get the most value out of Nature's Organics  service by solving their problems through various channels (email, phones, live chat)
          Review customer claims and help identify abnormalities that may require additional investigation.
          Handle PII (Personal Identifying Information) of customers by managing account profiles
          Communicate with all Eaze team members professionally to ensure mutual success, and make sure we are delivering a great experience to all customers 
          Meet and exceed team-wide performance standards on output, quality, and response times 
          Ensure customer experience feedback is communicated to the appropriate teams.</p>
      </div>
      <div class="col-md-4">
        <h4 class="entity-title">Support</h4>
        <p class="mb-0 entity-subtext">+1 (720) 663-0384</p>
      </div>
    </div>
  </div>
</section>